<template>
  <v-container class="bg-surface-variant mb-6">
    <v-row align="start" no-gutters>
      <v-col>
        <v-sheet class="pa-2 ma-2">
          <MainBasic />
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet class="pa-2 ma-2">
          <MainBasic />
        </v-sheet>
      </v-col>
    </v-row>
    <v-row align="start" no-gutters>
      <v-col>
        <v-sheet class="pa-2 ma-2">
          <MainBasic />
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>