<template>
  <div class="pa-5">
    <div class="text-caption">Height: {{ heightSlider * 5 }}px</div>

    <div class="pb-5">
      <v-slider
        v-model="heightSlider"
        step="10"
        show-ticks="always"
        tick-size="4"
      ></v-slider>

      <v-radio-group v-model="alignTextRadios">
        <v-radio label="text-left" value="text-left"></v-radio>
        <v-radio label="text-right" value="text-right"></v-radio>
      </v-radio-group>

      <v-btn
        size="small"
        @click="setSettings"
        border
        class="text-none"
        prepend-icon="mdi-check"
        variant="text"
        >Применить</v-btn
      >
    </div>
    <div>
      <text-tags
        :items="items"
        :style="styleDiv"
        :alignText="alignText"
        class="rounded-xl bg-grey-lighten-3 pa-1"
      />
    </div>
  </div>
</template>

<script>
import TextTags from "./TextTags.vue";

export default {
  data: function () {
    return {
      items: [],
      heightSlider: 20,

      styleDiv: "",

      alignText: "",
      alignTextRadios: "text-left",
    };
  },
  created() {
    this.items = [
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
      {
        text: "текст1",
      },
      {
        text: "текст2",
        icon: "mdi-checkbox-marked-circle",
      },
    ];

    this.setSettings();
  },
  methods: {
    setSettings() {
      this.styleDiv = "height: " + this.heightSlider * 5 + "px;";
      this.alignText = this.alignTextRadios;
    },
  },
};
</script>
