<template>
  <div class="text_tags" :class="classTags">
    <v-row
      align="start"
      no-gutters
      v-for="(item, index) in itemTags"
      :key="index"
    >
      <v-col cols="2">
        <v-sheet class="pa-1 ma-1" v-if="item.icon">
          <v-icon end :icon="item.icon"></v-icon>
        </v-sheet>
      </v-col>
      <v-col>
        <v-sheet class="pa-1 ma-1" v-if="item.text" :class="alignText"> {{ item.text }} </v-sheet>
      </v-col>
    </v-row>
    <v-icon icon="fa:fas fa-lock"></v-icon>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      clientHeightOld: null,
      classTags: null,
      itemTags: [],
    };
  },

  props: {
    items: { type: Array, required: true },
    heightPx: { type: Number, default: 41 },
    alignText: {type: String, default: null}
  },

  created() {
    this.classTags = `text_tags_${this.pass_gen(12)}`;
    window.addEventListener("resize", this.handleResize);
  },

  mounted() {
    this.handleResize();
  },

  updated() {
    this.handleResize();
  },

  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },

  methods: {
    handleResize() {
      const element = document.querySelector(`.${this.classTags}`);
      const clientHeight = element?.clientHeight ?? 0;

      if (!clientHeight || !this.items?.length) {
        if(!this.itemTags?.length !== 0) {
          this.itemTags = [];
        }
        
        return;
      }

      const itemTags = [];
      for (let i = 0; i <= this.items?.length; i++) {
        if (this.items?.[i] && this.heightPx * (i + 1) <= clientHeight) {
          itemTags.push(this.items[i]);
        }
      }

      if (!this.compare( this.itemTags, itemTags) && this.clientHeightOld != clientHeight) {
        this.itemTags = itemTags;
        this.clientHeightOld = clientHeight;
      }
    },

    pass_gen(len) {
      let chrs = "abdehkmnpswxzABDEFGHKMNPQRSTWXZ123456789";
      let str = "";
      for (var i = 0; i < len; i++) {
        let pos = Math.floor(Math.random() * chrs.length);
        str += chrs.substring(pos, pos + 1);
      }
      return str;
    },

    compare(a1, a2) {
      return a1?.length == a2?.length && a1.every((v, i) => v.text === a2[i].text && v.icon === a2[i].icon);
    },
  },
};
</script>
